﻿@page
@model Projet.Pages.TeamPools.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nouvelle equipe pour @Html.DisplayFor(model => model.Pool.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamPool.PoolID" value="@Model.Pool.ID" />
            <div class="form-group">
                <label asp-for="TeamPool.TeamID" class="control-label"></label>
                <select asp-for="TeamPool.TeamID" class="form-control" asp-items="ViewBag.TeamID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-id="@Model.Pool.ID">Retour à la Pool</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
