﻿@page
@model Projet.Pages.TeamPools.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TeamPool</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPool.LaPool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamPool.LaPool.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPool.LaTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamPool.LaTeam.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TeamPool.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
