﻿@page
@model Projet.Pages.TeamPools.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeamPool</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPool.LaPool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamPool.LaPool.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPool.LaTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamPool.LaTeam.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TeamPool.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
