﻿@page
@model Projet.Pages.TeamPools.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./Create" asp-route-id="@Model.PoolID">Associer une nouvelle team</a>
</p>
<p>
    <a asp-page="../Pools/Index" asp-route-id="@Model.Pool.PhaseID">Retour aux Pools</a>
</p>
<h4>Teams de @Html.DisplayFor(model => Model.Pool.Name)</h4>
<table class="table">
    <thead>
        <tr>
            <th> Numéro Equipe </th>
            <th> Nom Equipe </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pool.TeamPools)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LaTeam.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaTeam.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
