﻿@page
@model Projet.Pages.Phases.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Phase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phase.TournoiID" class="control-label"></label>
                <select asp-for="Phase.TournoiID" class="form-control" asp-items="ViewBag.TournoiID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Phase.fonctionnement" class="control-label"></label>
                <select asp-for="Phase.fonctionnement" asp-items="Html.GetEnumSelectList<Phase.MesFonctionnements>()"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
