﻿@page
@model Projet.Pages.Phases.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Phase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.TournoiPhase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.TournoiPhase.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Phase.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>
</div>
