﻿@page
@model Projet.Pages.Phases.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phase.TournoiPhase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.TournoiPhase.ID)
        </dd>
        <dt class="col-sm-2">
            Fonctionnement
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phase.fonctionnement)
        </dd>
    </dl>
</div>
<div>
    <h4>Classement</h4>
    <table class="table">
        <thead>
            <tr>
                <th> Numéro Equipe </th>
                <th> Nom Equipe </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.fonctionnement.//Rencontre??)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.??)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.??)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Phase.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
