﻿@page
@model Projet.Pages.Phases.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./Create" asp-route-id="@Model.TournoisID">Creer une nouvelle phase</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase[0].TournoiPhase.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Phase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournoiPhase.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-page="../Pools/Index" asp-route-id="@item.ID">Gerer les pools</a>
            </td>
        </tr>
}
    </tbody>
</table>
