﻿@page
@model Projet.Pages.Utilisateurs.AddAdminModel
@{
}
<h1>Ajouter le role d'Administrateur</h1>

<h3>Êtes-vous sûr de vouloir ajouter le role Administrateur à l'utilisateur ?</h3>
<div>
    <h4>Role Administrateur</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilisateur.UserName)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.ts</p>
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Utilisateur.Id" asp-route-idUser="Utilisateur.Id" />
        <input type="submit" value="Ajouter Role" class="btn btn-success" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
