﻿@page ""
@model Projet.Pages.Utilisateurs.IndexModel
@{
}
<h1>Liste des utilisateurs</h1>

<p>
    <a asp-page="Create">Créer un nouvel utilisateur</a>
</p>
<table class="table">
    <h5>Utilisateurs Administrateur</h5>
    @if (Model.UsersWithAdminRole.Count != 0)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].EmailConfirmed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersWithAdminRole)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        <p>@item.Id</p>
                    </td>
                    <td>
                        <a asp-page="./DeleteAdmin" asp-route-idUser="@item.Id">Retirer le rôle Administrateur de tournoi</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <p>Aucun utilisateur avec le role Administrateur pour le moment </p>
    }
</table>
<table class="table">
    <h5>Utilisateurs Managers</h5>
    @if (Model.UsersWithManagerRole.Count != 0)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].EmailConfirmed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UsersWithManagerRole)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    <p>@item.Id</p>
                </td>
                <td>
                    <a asp-page="./AddAdmin" asp-route-idUser="@item.Id">Ajouter le rôle Administrateur de tournoi</a>
                </td>
                <td>
                    <a asp-page="./DeleteRole" asp-route-idUser="@item.Id">Retirer le rôle Manager de tournoi</a>
                </td>
            </tr>
            }
        </tbody>
    }
    else
    {
        <p>Aucun utilisateur avec le role Manager pour le moment </p>
    }
</table>
<table class="table">
    <h5>Utilisateurs Licenciés</h5>
    @if (Model.Users.Count != 0)
    {
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users[0].EmailConfirmed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        <p>@item.Id</p>
                    </td>
                    <td>
                        <a asp-page="./AddRole" asp-route-idUser="@item.Id">Ajouter le role Manager de tournoi</a>
                    </td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <p>Aucun utilisateur licencié pour le moment</p>
    }
</table>