﻿@page
@model Projet.Pages.Jeux.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jeu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jeu.OwnerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jeu.OwnerID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Jeu.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
