﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Liste des tournois</h1>
    <br />
    <div class="container">
        <div class="row">
            @if (Model.isEmpty)
            {
                @foreach (var item in Model.lesTournoi)
                {
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Description</p>
                                <a asp-page="./Tournois/Details" asp-route-id="@item.ID" class="btn btn-primary">Détails</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5>Aucun tournoi pour le moment veuillez revenir plus tard</h5>
            }

        </div>
    </div>
</div>
