﻿@page
@model Projet.Pages.Tournois.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tournoi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournoi.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournoi.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tournoi.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
