﻿@page
@model Projet.Pages.Tournois.DesinscriptionModel
@{
    ViewData["Title"] = "Desinscription";
}

<h1>Desinscription de votre equipe dans le tournoi</h1>

<div>
    <h4>Tournoi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournoi.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournoi.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.Description)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Tournoi.ID" />
        <input type="submit" value="Desinscrire" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>