﻿@page
@model Projet.Pages.Tournois.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tournoi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournoi.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournoi.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournoi.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tournoi.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
