﻿@page
@model Projet.Pages.Tournois.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournoi[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournoi[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournoi[0].JeuTournoi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Tournoi)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JeuTournoi.Nom)
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, item, TournoiOperation.Update)).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                }

                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                @if ((await AuthorizationService.AuthorizeAsync(User, item, TournoiOperation.Delete)).Succeeded)
                {
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                }
                @if (Model.ConnectedUserTeamID != null)
                {
                    bool founded = false;
                    int index;
                    int loop = 0;
                    foreach (var participation in Model.TeamTournoi)
                    {
                        if (participation.LTeamID == item.ID)
                        {
                            founded = true;
                            index = loop;
                        }
                        loop++;
                    }
                    if (founded == true)
                    {
                        <a asp-page="./Desinscription" asp-route-id="@item.ID">Desinscrire son équipe</a>
                    }
                    else
                    {
                        <a asp-page="./Inscription" asp-route-id="@item.ID">Inscrire son équipe</a>
                    }
                }
                <a asp-page="../Phases/Index" asp-route-id="@item.ID">Gerer les Phases</a>

            </td>
        </tr>
        }
        <h3>@Model.ConnectedUserTeamID</h3>
    </tbody>
</table>
