﻿@page
@model Projet.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des équipes</h1>

<p>
    <a asp-page="Create">Demande d'une nouvelle équipe</a>
</p>
<h5>Team en attente de validation</h5>
@if (Model.NonValidatedTeam.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NonValidatedTeam[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NonValidatedTeam)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
                        <a asp-page="./validateTeam" asp-route-id="@item.ID">Valider la team</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aucun équipe à valider pour le moment</p>
}


    <h5>Equipes validées</h5>
    @if (Model.Equipe.Count != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Equipe[0].Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itemA in Model.Equipe)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => itemA.Name)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@itemA.ID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@itemA.ID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@itemA.ID">Delete</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Aucune équipe validées pour le moment</p>
    }

