﻿@page
@model Projet.Pages.Teams.validateTeamModel
@{
}
<h1>Validation de l'équipe</h1>

<h3>Voulez vous vraiment valider l'équipe ?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Team.ID" />
        <input type="submit" value="Valider" class="btn btn-success" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
