﻿@page
@model Projet.Pages.Pools.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pool</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pool.Name" class="control-label"></label>
                <input asp-for="Pool.Name" class="form-control" />
                <span asp-validation-for="Pool.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pool.PhaseID" class="control-label"></label>
                <select asp-for="Pool.PhaseID" class ="form-control" asp-items="ViewBag.PhaseID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
