﻿@page
@model Projet.Pages.Pools.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pool</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pool.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pool.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pool.PhasePool)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pool.PhasePool.ID)
        </dd>
    </dl>
</div>
<div>
    <h4>Equipes</h4>
    <table class="table">
        <thead>
            <tr>
                <th> Numéro Equipe </th>
                <th> Nom Equipe </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pool.TeamPools)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaTeam.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LaTeam.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pool.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
