﻿@page
@model Projet.Pages.Pools.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./Create" asp-route-id="@Model.PhaseID">Creer une nouvelle pool</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pool[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pool[0].PhasePool)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pool) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhasePool.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                <a asp-page="../TeamPools/Index" asp-route-id="@item.ID">Manage Teams</a>
            </td>
        </tr>
}
    </tbody>
</table>
